DATA COLLECTING FROM PDF

In [1]:
import camelot
import os

file_pdf = "data_06-02-2025_Laporan_Tahunan__Publikasi_Data_PMI_2024.pdf"
output_folder = "hasil_tabel"
os.makedirs(output_folder, exist_ok=True)

total_tabel = 0

for page in range(1, 54):
    tables = camelot.read_pdf(
        file_pdf,
        pages=str(page),
        flavor="stream"
    )
    if tables.n > 0:
        for i, t in enumerate(tables):
            file_name = os.path.join(output_folder, f"hal{page}_tabel{i+1}.csv")
            t.df.to_csv(file_name, index=False)
            print(f"Halaman {page}, tabel {i+1} disimpan.")
        total_tabel += tables.n

print(f"Total tabel berhasil diekstrak: {total_tabel}")

Halaman 1, tabel 1 disimpan.
Halaman 2, tabel 1 disimpan.
Halaman 3, tabel 1 disimpan.
Halaman 4, tabel 1 disimpan.

Could get FontBBox from font descriptor because None cannot be parsed as 4 floats

Halaman 5, tabel 1 disimpan.
Halaman 5, tabel 2 disimpan.
Halaman 6, tabel 1 disimpan.
Halaman 6, tabel 2 disimpan.
Halaman 7, tabel 1 disimpan.
Halaman 8, tabel 1 disimpan.
Halaman 8, tabel 2 disimpan.
Halaman 9, tabel 1 disimpan.
Halaman 10, tabel 1 disimpan.
Halaman 10, tabel 2 disimpan.
Halaman 11, tabel 1 disimpan.
Halaman 12, tabel 1 disimpan.
Halaman 13, tabel 1 disimpan.
Halaman 13, tabel 2 disimpan.

Could get FontBBox from font descriptor because None cannot be parsed as 4 floats

Halaman 14, tabel 1 disimpan.
Halaman 15, tabel 1 disimpan.
Halaman 15, tabel 2 disimpan.
Halaman 16, tabel 1 disimpan.
Halaman 16, tabel 2 disimpan.

c:\Users\RASYA\AppData\Local\Programs\Python\Python312\Lib\site-packages\camelot\parsers\base.py:238: UserWarning: No tables found in table area (0, 0, 595.5, 419.24998500000004)
  cols, rows, v_s, h_s = self._generate_columns_and_rows(bbox, user_cols)

Halaman 17, tabel 1 disimpan.

c:\Users\RASYA\AppData\Local\Programs\Python\Python312\Lib\site-packages\camelot\parsers\base.py:238: UserWarning: No tables found in table area (71.47060882539117, 203.92368335430297, 260.90495490960495, 372.50970254004864)
  cols, rows, v_s, h_s = self._generate_columns_and_rows(bbox, user_cols)

Halaman 18, tabel 1 disimpan.
Halaman 19, tabel 1 disimpan.
Halaman 20, tabel 1 disimpan.
Halaman 20, tabel 2 disimpan.
Halaman 21, tabel 1 disimpan.
Halaman 22, tabel 1 disimpan.
Halaman 23, tabel 1 disimpan.
Halaman 24, tabel 1 disimpan.
Halaman 25, tabel 1 disimpan.
Halaman 26, tabel 1 disimpan.

c:\Users\RASYA\AppData\Local\Programs\Python\Python312\Lib\site-packages\camelot\parsers\base.py:238: UserWarning: No tables found in table area (308.42651953222776, 123.32450752606209, 575.3590772591207, 343.20823834519194)
  cols, rows, v_s, h_s = self._generate_columns_and_rows(bbox, user_cols)

Halaman 27, tabel 1 disimpan.
Halaman 28, tabel 1 disimpan.
Halaman 29, tabel 1 disimpan.

c:\Users\RASYA\AppData\Local\Programs\Python\Python312\Lib\site-packages\camelot\parsers\base.py:238: UserWarning: No tables found in table area (91.20490149312893, 207.13405302549756, 328.4069930447055, 372.7431875817834)
  cols, rows, v_s, h_s = self._generate_columns_and_rows(bbox, user_cols)

Halaman 30, tabel 1 disimpan.
Halaman 31, tabel 1 disimpan.
Halaman 32, tabel 1 disimpan.
Halaman 33, tabel 1 disimpan.
Halaman 33, tabel 2 disimpan.
Halaman 34, tabel 1 disimpan.
Halaman 35, tabel 1 disimpan.
Halaman 36, tabel 1 disimpan.
Halaman 37, tabel 1 disimpan.
Halaman 38, tabel 1 disimpan.
Halaman 38, tabel 2 disimpan.

c:\Users\RASYA\AppData\Local\Programs\Python\Python312\Lib\site-packages\camelot\parsers\base.py:238: UserWarning: No tables found in table area (0, 0, 595.5, 419.24998500000004)
  cols, rows, v_s, h_s = self._generate_columns_and_rows(bbox, user_cols)

Halaman 39, tabel 1 disimpan.
Halaman 40, tabel 1 disimpan.
Halaman 41, tabel 1 disimpan.

c:\Users\RASYA\AppData\Local\Programs\Python\Python312\Lib\site-packages\camelot\parsers\base.py:238: UserWarning: No tables found in table area (309.1497427020935, 134.91728243052978, 526.067464322188, 368.45755031635167)
  cols, rows, v_s, h_s = self._generate_columns_and_rows(bbox, user_cols)

Halaman 42, tabel 1 disimpan.
Halaman 43, tabel 1 disimpan.
Halaman 44, tabel 1 disimpan.
Halaman 45, tabel 1 disimpan.
Halaman 46, tabel 1 disimpan.
Halaman 47, tabel 1 disimpan.
Halaman 48, tabel 1 disimpan.
Halaman 49, tabel 1 disimpan.
Halaman 50, tabel 1 disimpan.
Halaman 51, tabel 1 disimpan.
Halaman 52, tabel 1 disimpan.
Halaman 53, tabel 1 disimpan.
Total tabel berhasil diekstrak: 63

DATA CLEANING

In [2]:
import pandas as pd

Data_2022 = pd.read_excel ("Pencari Kerja Terdaftar, Lowongan Kerja Terdaftar, dan Penempatan_Pemenuhan Tenaga Kerja Menurut Provinsi dan Jenis Kelamin, 2022.xlsx")
Data_2023 = pd.read_excel ("Pencari Kerja Terdaftar, Lowongan Kerja Terdaftar, dan Penempatan_Pemenuhan Tenaga Kerja Menurut Provinsi dan Jenis Kelamin, 2023.xlsx")

print("Jumlah nilai kosong per kolom (2023):")
print(Data_2022.isna().sum())
print("\nJumlah nilai kosong per kolom (2024):")
print(Data_2023.isna().sum())

Jumlah nilai kosong per kolom (2023):
Provinsi                                         0
Pencari Kerja Terdaftar - Laki-Laki              3
Pencari Kerja Terdaftar - Perempuan              3
Pencari Kerja Terdaftar - Jumlah                 3
Lowongan Kerja Terdaftar - Laki-Laki             3
Lowongan Kerja Terdaftar - Perempuan             3
Lowongan Kerja Terdaftar - Jumlah                3
Penempatan/Pemenuhan Tenaga Kerja - Laki-Laki    3
Penempatan/Pemenuhan Tenaga Kerja - Perempuan    3
Penempatan/Pemenuhan Tenaga Kerja - Jumlah       3
dtype: int64

Jumlah nilai kosong per kolom (2024):
Provinsi                                         0
Pencari Kerja Terdaftar - Laki-Laki              3
Pencari Kerja Terdaftar - Perempuan              3
Pencari Kerja Terdaftar - Jumlah                 3
Lowongan Kerja Terdaftar - Laki-Laki             3
Lowongan Kerja Terdaftar - Perempuan             3
Lowongan Kerja Terdaftar - Jumlah                3
Penempatan/Pemenuhan Tenaga Kerja - Laki-Laki    3
Penempatan/Pemenuhan Tenaga Kerja - Perempuan    3
Penempatan/Pemenuhan Tenaga Kerja - Jumlah       3
dtype: int64

In [3]:
Data_2022_filled = Data_2022.fillna(Data_2022.median(numeric_only=True))
Data_2023_filled = Data_2023.fillna(Data_2023.median(numeric_only=True))

In [4]:
print("\nSetelah pengisian:")
print("Dataset 2023:", Data_2022_filled.isna().sum().sum(), "nilai kosong tersisa")
print("Dataset 2024:", Data_2023_filled.isna().sum().sum(), "nilai kosong tersisa")

Setelah pengisian:
Dataset 2023: 0 nilai kosong tersisa
Dataset 2024: 0 nilai kosong tersisa

In [5]:
Data_2022_filled.to_excel("Cleaned_Pencari_Kerja_2022.xlsx", index=False)
Data_2023_filled.to_excel("Cleaned_Pencari_Kerja_2023.xlsx", index=False)

In [6]:
data_pekerja_2024 = pd.read_excel("Pencari Kerja Terdaftar, Lowongan Kerja Terdaftar, dan Penempatan_Pemenuhan Tenaga Kerja Menurut Provinsi dan Jenis Kelamin, 2024.xlsx")

Cleaned_Pencari_Kerja_2024 = data_pekerja_2024.drop(columns=["Pencari Kerja Terdaftar - Laki-Laki atau Perempuan"])

Cleaned_Pencari_Kerja_2024

,Provinsi,Pencari Kerja Terdaftar - Laki-Laki,Pencari Kerja Terdaftar - Perempuan,Pencari Kerja Terdaftar - Jumlah,Lowongan Kerja Terdaftar - Laki-Laki,Lowongan Kerja Terdaftar - Perempuan,Lowongan Kerja Terdaftar - Jumlah,Penempatan/Pemenuhan Tenaga Kerja - Laki-Laki,Penempatan/Pemenuhan Tenaga Kerja - Perempuan,Penempatan/Pemenuhan Tenaga Kerja - Jumlah
0,Aceh,4468,3696,8164,227,17,6885,3206,2995,6201
1,Sumatera Utara,9471,8571,18042,1144,438,9312,3355,2513,5868
2,Sumatera Barat,6200,5321,11521,605,781,10674,2916,2264,5180
3,Riau,5113,2225,7338,1408,312,6241,2210,698,2908
4,Jambi,3919,2292,6211,423,67,2960,1382,992,2374
5,Sumatera Selatan,10853,6877,17730,1602,894,12239,4492,2790,7282
6,Bengkulu,2044,1343,3387,129,17,1277,701,300,1001
7,Lampung,13444,17815,31259,331,185,9539,3921,3795,7716
8,Kepulauan Bangka Belitung,1017,630,1647,180,27,1311,425,253,678
9,Kepulauan Riau,3674,4163,7837,1076,1008,8745,2226,2470,4696
10,DKI Jakarta,22204,12826,35030,9007,4017,61030,16086,9898,25984
11,Jawa Barat,141210,155426,296636,11587,25809,148663,33854,41098,74952
12,Jawa Tengah,82518,96896,179414,3891,14066,131741,24961,40364,65325
13,DI Yogyakarta,7588,3788,11376,1192,5755,24313,6221,2920,9141
14,Jawa Timur,39534,37086,76620,2857,6822,64669,17326,10675,28001
15,Banten,20200,19844,40044,3576,2075,34045,6811,4611,11422
16,Bali,4579,3777,8356,591,469,6860,1210,612,1822
17,Nusa Tenggara Barat,28855,7608,36463,622,61,22859,1208,719,1927
18,Nusa Tenggara Timur,3482,5197,8679,205,53,3345,1636,963,2599
19,Kalimantan Barat,3263,2674,5937,861,1462,5985,1694,1285,2979
20,Kalimantan Tengah,7470,4545,12015,1178,175,4762,1730,1145,2875
21,Kalimantan Selatan,4521,2296,6817,1062,516,4684,1640,1142,2782
22,Kalimantan Timur,3733,1216,4949,2160,219,4551,1641,330,1971
23,Kalimantan Utara,1562,843,2405,135,146,1652,691,540,1231
24,Sulawesi Utara,1339,1176,2515,290,296,2266,697,581,1278
25,Sulawesi Tengah,7661,3535,11196,3624,109,13818,5838,616,6454
26,Sulawesi Selatan,15133,7338,22471,870,1430,7908,2393,1873,4266
27,Sulawesi Tenggara,5449,2781,8230,526,163,3482,1464,878,2342
28,Gorontalo,1201,596,1797,122,36,1257,145,76,221
29,Sulawesi Barat,2613,1114,3727,170,63,1434,807,361,1168
30,Maluku,2696,1525,4221,151,285,1401,143,314,457
31,Maluku Utara,9789,3730,13519,1036,50,8513,7393,374,7767
32,Papua Barat,417,125,542,119,20,195,22,10,32
33,Papua Barat Daya,582,522,1104,141,118,972,275,256,531
34,Papua,1059,838,1897,95,38,385,157,60,217
35,Papua Selatan,314,92,406,68,8,311,171,46,217
36,Papua Tengah,100,39,139,88,14,197,60,20,80

In [7]:
Cleaned_Pencari_Kerja_2024.to_excel("Cleaned_Pencari_Kerja_2024.xlsx", index=False)

In [9]:
Data_UMP = pd.read_excel("UMP_2024_PROVINSI.xlsx")
Data_UMP.head()

   No        Provinsi  Upah Minimum (Rp)
0   1            Aceh         3460672.00
1   2  Sumatera Utara         2809915.00
2   3  Sumatera Barat         2811449.27
3   4            Riau         3294625.56
4   5           Jambi         3037121.85

In [10]:
Data_UMP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   No                 37 non-null     int64
 1   Provinsi           37 non-null     object
 2   Upah Minimum (Rp)  37 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1020.0+ bytes

In [11]:
Cleaned_UMP_2024_PROVINSI = Data_UMP.drop(columns=["No"])
Cleaned_UMP_2024_PROVINSI["Upah Minimum (Rp)"] = Cleaned_UMP_2024_PROVINSI["Upah Minimum (Rp)"].astype(int)

Cleaned_UMP_2024_PROVINSI.to_excel("Cleaned_UMP_2024_PROVINSI.xlsx", index=False)

Cleaned_UMP_2024_PROVINSI

                     Provinsi  Upah Minimum (Rp)
0                        Aceh            3460672
1              Sumatera Utara            2809915
2              Sumatera Barat            2811449
3                        Riau            3294625
4                       Jambi            3037121
5            Sumatera Selatan            3456874
6                    Bengkulu            2507079
7                     Lampung            2716497
8   Kepulauan Bangka Belitung            3640000
9              Kepulauan Riau            3402492
10                DKI Jakarta            5067381
11                 Jawa Barat            2057495
12                Jawa Tengah            2036947
13              DI Yogyakarta            2125897
14                 Jawa Timur            2165244
15                     Banten            2727812
16                       Bali            2813672
17        Nusa Tenggara Barat            2444067
18        Nusa Tenggara Timur            2186826
19           Kalimantan Barat            2702616
20          Kalimantan Tengah            3261616
21         Kalimantan Selatan            3282812
22           Kalimantan Timur            3360858
23           Kalimantan Utara            3361653
24             Sulawesi Utara            3545000
25            Sulawesi Tengah            2736698
26           Sulawesi Selatan            3434298
27          Sulawesi Tenggara            2885964
28                  Gorontalo            3025100
29             Sulawesi Barat            2914958
30                     Maluku            2949953
31               Maluku Utara            3200000
32                Papua Barat            3393500
33                      Papua            4024270
34               Papua Tengah            4024270
35              Papua Selatan            4024270
36           Papua Barat Daya            3393500

In [12]:
Data_UMP2 = pd.read_excel("UMP_2023_PROVINSI.xlsx")
Data_UMP2

                     Provinsi  Upah Minimum (Rp)
0                        Aceh         3413666.00
1              Sumatera Utara         2710493.93
2              Sumatera Barat         2742476.00
3                        Riau         3191662.53
4                       Jambi         2943033.08
5            Sumatera Selatan         3404177.24
6                    Bengkulu         2418280.00
7                     Lampung         2633284.59
8   Kepulauan Bangka Belitung         3498479.00
9              Kepulauan Riau         3279194.00
10                DKI Jakarta         4901798.00
11                 Jawa Barat         1986670.17
12                Jawa Tengah         1958169.69
13              DI Yogyakarta         1981782.39
14                 Jawa Timur         2040244.30
15                     Banten         2661280.11
16                       Bali         2713672.28
17        Nusa Tenggara Barat         2371407.00
18        Nusa Tenggara Timur         2123994.00
19           Kalimantan Barat         2608601.75
20          Kalimantan Tengah         3181013.00
21         Kalimantan Selatan         3149977.65
22           Kalimantan Timur         3201396.04
23           Kalimantan Utara         3251702.67
24             Sulawesi Utara         3485000.00
25            Sulawesi Tengah         2599546.00
26           Sulawesi Selatan         3385145.00
27          Sulawesi Tenggara         2758984.54
28                  Gorontalo         2989350.00
29             Sulawesi Barat         2871794.82
30                     Maluku         2812827.66
31               Maluku Utara         2976720.00
32                Papua Barat         3282000.00
33                      Papua         3864696.00
34               Papua Tengah                NaN
35              Papua Selatan                NaN
36           Papua Barat Daya                NaN

In [13]:
Data_UMP2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Provinsi           37 non-null     object
 1   Upah Minimum (Rp)  34 non-null     float64
dtypes: float64(1), object(1)
memory usage: 724.0+ bytes

In [14]:
Cleaned_UMP_2023_PROVINSI = Data_UMP2.fillna(0)

In [15]:
Cleaned_UMP_2023_PROVINSI = Data_UMP2.fillna(0)
Cleaned_UMP_2023_PROVINSI["Upah Minimum (Rp)"] = Cleaned_UMP_2023_PROVINSI["Upah Minimum (Rp)"].astype(int)

Cleaned_UMP_2023_PROVINSI.to_excel("Cleaned_UMP_2023_PROVINSI.xlsx", index=False)

Cleaned_UMP_2023_PROVINSI

                     Provinsi  Upah Minimum (Rp)
0                        Aceh            3413666
1              Sumatera Utara            2710493
2              Sumatera Barat            2742476
3                        Riau            3191662
4                       Jambi            2943033
5            Sumatera Selatan            3404177
6                    Bengkulu            2418280
7                     Lampung            2633284
8   Kepulauan Bangka Belitung            3498479
9              Kepulauan Riau            3279194
10                DKI Jakarta            4901798
11                 Jawa Barat            1986670
12                Jawa Tengah            1958169
13              DI Yogyakarta            1981782
14                 Jawa Timur            2040244
15                     Banten            2661280
16                       Bali            2713672
17        Nusa Tenggara Barat            2371407
18        Nusa Tenggara Timur            2123994
19           Kalimantan Barat            2608601
20          Kalimantan Tengah            3181013
21         Kalimantan Selatan            3149977
22           Kalimantan Timur            3201396
23           Kalimantan Utara            3251702
24             Sulawesi Utara            3485000
25            Sulawesi Tengah            2599546
26           Sulawesi Selatan            3385145
27          Sulawesi Tenggara            2758984
28                  Gorontalo            2989350
29             Sulawesi Barat            2871794
30                     Maluku            2812827
31               Maluku Utara            2976720
32                Papua Barat            3282000
33                      Papua            3864696
34               Papua Tengah                  0
35              Papua Selatan                  0
36           Papua Barat Daya                  0

In [16]:
Data_UMP3 = pd.read_excel("UMP_2022_PROVINSI.xlsx")
Data_UMP3

    No                   Provinsi  Upah Minimum (Rp)
0    1                       Aceh         3166460.00
1    2             Sumatera Utara         2522609.94
2    3             Sumatera Barat         2512539.00
3    4                       Riau         2938564.01
4    5                      Jambi         2698940.87
5    6           Sumatera Selatan         3144446.00
6    7                   Bengkulu         2238094.31
7    8                    Lampung         2440486.18
8    9  Kepulauan Bangka Belitung         3264884.00
9   10             Kepulauan Riau         3050172.00
10  11                DKI Jakarta         4641854.00
11  12                 Jawa Barat         1841487.31
12  13                Jawa Tengah         1812935.43
13  14              DI Yogyakarta         1840915.53
14  15                 Jawa Timur         1891567.12
15  16                     Banten         2501203.11
16  17                       Bali         2516971.00
17  18        Nusa Tenggara Barat         2207212.00
18  19        Nusa Tenggara Timur         1975000.00
19  20           Kalimantan Barat         2434328.19
20  21          Kalimantan Tengah         2922516.00
21  22         Kalimantan Selatan         2906473.32
22  23           Kalimantan Timur         3014497.22
23  24           Kalimantan Utara         3016738.00
24  25             Sulawesi Utara         3310723.00
25  26            Sulawesi Tengah         2390739.00
26  27           Sulawesi Selatan         3165876.00
27  28          Sulawesi Tenggara         2576016.96
28  29                  Gorontalo         2800580.00
29  30             Sulawesi Barat         2678863.10
30  31                     Maluku         2619312.83
31  32               Maluku Utara         2862231.00
32  33                Papua Barat         3200000.00
33  34                      Papua         3561932.00
34  35               Papua Tengah                NaN
35  36              Papua Selatan                NaN
36  37           Papua Barat Daya                NaN

In [17]:
Cleaned_UMP_2022_PROVINSI = Data_UMP3.drop(columns=["No"])

In [18]:
Cleaned_UMP_2022_PROVINSI = Data_UMP3.drop(columns=["No"])
Cleaned_UMP_2022_PROVINSI = Cleaned_UMP_2022_PROVINSI.fillna(0)
Cleaned_UMP_2022_PROVINSI["Upah Minimum (Rp)"] = Cleaned_UMP_2022_PROVINSI["Upah Minimum (Rp)"].astype(int)

Cleaned_UMP_2022_PROVINSI.to_excel("Cleaned_UMP_2022_PROVINSI.xlsx", index=False)

Cleaned_UMP_2022_PROVINSI

                     Provinsi  Upah Minimum (Rp)
0                        Aceh            3166460
1              Sumatera Utara            2522609
2              Sumatera Barat            2512539
3                        Riau            2938564
4                       Jambi            2698940
5            Sumatera Selatan            3144446
6                    Bengkulu            2238094
7                     Lampung            2440486
8   Kepulauan Bangka Belitung            3264884
9              Kepulauan Riau            3050172
10                DKI Jakarta            4641854
11                 Jawa Barat            1841487
12                Jawa Tengah            1812935
13              DI Yogyakarta            1840915
14                 Jawa Timur            1891567
15                     Banten            2501203
16                       Bali            2516971
17        Nusa Tenggara Barat            2207212
18        Nusa Tenggara Timur            1975000
19           Kalimantan Barat            2434328
20          Kalimantan Tengah            2922516
21         Kalimantan Selatan            2906473
22           Kalimantan Timur            3014497
23           Kalimantan Utara            3016738
24             Sulawesi Utara            3310723
25            Sulawesi Tengah            2390739
26           Sulawesi Selatan            3165876
27          Sulawesi Tenggara            2576016
28                  Gorontalo            2800580
29             Sulawesi Barat            2678863
30                     Maluku            2619312
31               Maluku Utara            2862231
32                Papua Barat            3200000
33                      Papua            3561932
34               Papua Tengah                  0
35              Papua Selatan                  0
36           Papua Barat Daya                  0

DATA INTEGRATION

In [19]:
df_2022 = pd.read_excel("Cleaned_Pencari_Kerja_2022.xlsx")
df_2023 = pd.read_excel("Cleaned_Pencari_Kerja_2023.xlsx")

df_2022["Tahun"] = 2022
df_2023["Tahun"] = 2023

df_2022.rename(columns={"Nama Provinsi": "Provinsi"}, inplace=True)
df_2023.rename(columns={"Nama Provinsi": "Provinsi"}, inplace=True)

df_2022["Provinsi"] = df_2022["Provinsi"].str.strip()
df_2023["Provinsi"] = df_2023["Provinsi"].str.strip()

df_gabungan = pd.concat([df_2022, df_2023], ignore_index=True)
df_gabungan = df_gabungan.sort_values(by=["Tahun", "Provinsi"]).reset_index(drop=True)
df_gabungan.to_excel("Cleaned_Pencari_Kerja_2022_2023_Gabungan.xlsx", index=False)

df_gabungan.head()

,Provinsi,Pencari Kerja Terdaftar - Laki-Laki,Pencari Kerja Terdaftar - Perempuan,Pencari Kerja Terdaftar - Jumlah,Lowongan Kerja Terdaftar - Laki-Laki,Lowongan Kerja Terdaftar - Perempuan,Lowongan Kerja Terdaftar - Jumlah,Penempatan/Pemenuhan Tenaga Kerja - Laki-Laki,Penempatan/Pemenuhan Tenaga Kerja - Perempuan,Penempatan/Pemenuhan Tenaga Kerja - Jumlah,Tahun
0,Aceh,6515,5085.0,11600.0,812,741.0,1553.0,810.0,739.0,1549,2022
1,Bali,6919,4932.0,11851.0,515,551.0,1066.0,441.0,537.0,978,2022
2,Banten,35076,23702.0,58778.0,997,476.0,1473.0,851.0,414.0,1265,2022
3,Bengkulu,2152,2094.0,4246.0,289,375.0,664.0,289.0,373.0,662,2022
4,DI Yogyakarta,7212,6098.0,13310.0,937,888.0,1825.0,852.0,852.0,1704,2022

In [20]:
df_2022_2023 = pd.read_excel("Cleaned_Pencari_Kerja_2022_2023_Gabungan.xlsx")
df_2024 = pd.read_excel("Cleaned_Pencari_Kerja_2024.xlsx")

df_2024["Tahun"] = 2024

df_2022_2023.rename(columns={"Nama Provinsi": "Provinsi"}, inplace=True)
df_2024.rename(columns={"Nama Provinsi": "Provinsi"}, inplace=True)

df_2022_2023["Provinsi"] = df_2022_2023["Provinsi"].str.strip()
df_2024["Provinsi"] = df_2024["Provinsi"].str.strip()

df_gabungan2 = pd.concat([df_2022_2023, df_2024], ignore_index=True)
df_gabungan2 = df_gabungan2.sort_values(by=["Tahun", "Provinsi"]).reset_index(drop=True)
df_gabungan2.to_excel("Cleaned_Pencari_Kerja_2022_2023_2024_Gabungan.xlsx", index=False)

df_gabungan2.head()

,Provinsi,Pencari Kerja Terdaftar - Laki-Laki,Pencari Kerja Terdaftar - Perempuan,Pencari Kerja Terdaftar - Jumlah,Lowongan Kerja Terdaftar - Laki-Laki,Lowongan Kerja Terdaftar - Perempuan,Lowongan Kerja Terdaftar - Jumlah,Penempatan/Pemenuhan Tenaga Kerja - Laki-Laki,Penempatan/Pemenuhan Tenaga Kerja - Perempuan,Penempatan/Pemenuhan Tenaga Kerja - Jumlah,Tahun
0,Aceh,6515,5085.0,11600.0,812,741.0,1553.0,810.0,739.0,1549,2022
1,Bali,6919,4932.0,11851.0,515,551.0,1066.0,441.0,537.0,978,2022
2,Banten,35076,23702.0,58778.0,997,476.0,1473.0,851.0,414.0,1265,2022
3,Bengkulu,2152,2094.0,4246.0,289,375.0,664.0,289.0,373.0,662,2022
4,DI Yogyakarta,7212,6098.0,13310.0,937,888.0,1825.0,852.0,852.0,1704,2022

In [21]:
df_penempatan = pd.read_excel("Cleaned_Sorted_Transform 2_tabel_24_Penempatan Provinsi 2022-2024.xlsx")
df_pencari = pd.read_excel("Cleaned_Pencari_Kerja_2022_2023_2024_Gabungan.xlsx")

df_penempatan.rename(columns={'Nama Provinsi': 'Provinsi'}, inplace=True)
df_pencari.rename(columns={'Nama Provinsi': 'Provinsi'}, inplace=True)

df_penempatan['Provinsi'] = df_penempatan['Provinsi'].astype(str).str.strip()
df_pencari['Provinsi'] = df_pencari['Provinsi'].astype(str).str.strip()

df_penempatan['Tahun'] = pd.to_numeric(df_penempatan['Tahun'], errors='coerce')
df_pencari['Tahun'] = pd.to_numeric(df_pencari['Tahun'], errors='coerce')

Data_Gabungan_pekerja_Penempatan = pd.merge(df_pencari, df_penempatan, on=['Provinsi', 'Tahun'], how='inner')

merged = Data_Gabungan_pekerja_Penempatan.sort_values(by=['Tahun', 'Provinsi']).reset_index(drop=True)

cols = merged.columns.tolist()
if cols[0] != 'Tahun':
    cols.insert(0, cols.pop(cols.index('Tahun')))
    merged = merged[cols]

merged.to_excel("Data_gabungan_sorted_by_tahun.xlsx", index=False)

merged.head()

,Tahun,Provinsi,Pencari Kerja Terdaftar - Laki-Laki,Pencari Kerja Terdaftar - Perempuan,Pencari Kerja Terdaftar - Jumlah,Lowongan Kerja Terdaftar - Laki-Laki,Lowongan Kerja Terdaftar - Perempuan,Lowongan Kerja Terdaftar - Jumlah,Penempatan/Pemenuhan Tenaga Kerja - Laki-Laki,Penempatan/Pemenuhan Tenaga Kerja - Perempuan,Penempatan/Pemenuhan Tenaga Kerja - Jumlah,Penempatan
0,2022,Aceh,6515,5085.0,11600.0,812,741.0,1553.0,810.0,739.0,1549,389
1,2022,Bali,6919,4932.0,11851.0,515,551.0,1066.0,441.0,537.0,978,9429
2,2022,Banten,35076,23702.0,58778.0,997,476.0,1473.0,851.0,414.0,1265,1766
3,2022,Bengkulu,2152,2094.0,4246.0,289,375.0,664.0,289.0,373.0,662,273
4,2022,DI Yogyakarta,7212,6098.0,13310.0,937,888.0,1825.0,852.0,852.0,1704,1065

In [22]:
df_UMP_2022 = pd.read_excel("Cleaned_UMP_2022_PROVINSI.xlsx")
df_UMP_2023 = pd.read_excel("Cleaned_UMP_2023_PROVINSI.xlsx")

df_UMP_2022["Tahun"] = 2022
df_UMP_2023["Tahun"] = 2023

df_UMP_2022["Provinsi"] = df_UMP_2022["Provinsi"].str.strip()
df_UMP_2023["Provinsi"] = df_UMP_2023["Provinsi"].str.strip()

df_UMP_gabungan = pd.concat([df_UMP_2022, df_UMP_2023], ignore_index=True)
df_UMP_gabungan = df_UMP_gabungan.sort_values(by=["Tahun", "Provinsi"]).reset_index(drop=True)
df_UMP_gabungan.to_excel("Cleaned_UMP_2022_2023_Gabungan.xlsx", index=False)

df_UMP_gabungan.head()

        Provinsi  Upah Minimum (Rp)  Tahun
0           Aceh            3166460   2022
1           Bali            2516971   2022
2         Banten            2501203   2022
3       Bengkulu            2238094   2022
4  DI Yogyakarta            1840915   2022

In [23]:
df_UMP_2022_2023 = pd.read_excel("Cleaned_UMP_2022_2023_Gabungan.xlsx")
df_UMP_2024 = pd.read_excel("Cleaned_UMP_2024_PROVINSI.xlsx")

df_UMP_2024["Tahun"] = 2024

df_UMP_2022_2023["Provinsi"] = df_UMP_2022_2023["Provinsi"].str.strip()
df_UMP_2024["Provinsi"] = df_UMP_2024["Provinsi"].str.strip()

df_UMP_gabungan2 = pd.concat([df_UMP_2022_2023, df_UMP_2024], ignore_index=True)
df_UMP_gabungan2 = df_UMP_gabungan2.sort_values(by=["Tahun", "Provinsi"]).reset_index(drop=True)
df_UMP_gabungan2.to_excel("Cleaned_UMP_2022_2023_2024_Gabungan.xlsx", index=False)

df_UMP_gabungan2.head()

        Provinsi  Upah Minimum (Rp)  Tahun
0           Aceh            3166460   2022
1           Bali            2516971   2022
2         Banten            2501203   2022
3       Bengkulu            2238094   2022
4  DI Yogyakarta            1840915   2022

In [25]:
df_Data_Gabungan_Sorted = pd.read_excel("Data_gabungan_sorted_by_tahun.xlsx")
df_Data_Gabungan_UMP = pd.read_excel("Cleaned_UMP_2022_2023_2024_Gabungan.xlsx")

df_Data_Gabungan_Sorted.rename(columns={'Nama Provinsi': 'Provinsi'}, inplace=True)
df_Data_Gabungan_UMP.rename(columns={'Nama Provinsi': 'Provinsi'}, inplace=True)

df_Data_Gabungan_Sorted['Provinsi'] = df_Data_Gabungan_Sorted['Provinsi'].astype(str).str.strip()
df_Data_Gabungan_UMP['Provinsi'] = df_Data_Gabungan_UMP['Provinsi'].astype(str).str.strip()

df_Data_Gabungan_Sorted['Tahun'] = pd.to_numeric(df_Data_Gabungan_Sorted['Tahun'], errors='coerce')
df_Data_Gabungan_UMP['Tahun'] = pd.to_numeric(df_Data_Gabungan_UMP['Tahun'], errors='coerce')

Data_Gabungan_pekerja_Penempatan_UMP = pd.merge(df_Data_Gabungan_UMP, df_Data_Gabungan_Sorted, on=['Provinsi', 'Tahun'], how='inner')

merged2 = Data_Gabungan_pekerja_Penempatan_UMP.sort_values(by=['Tahun', 'Provinsi']).reset_index(drop=True)

cols = merged2.columns.tolist()
if cols[0] != 'Tahun':
    cols.insert(0, cols.pop(cols.index('Tahun')))
    merged2 = merged2[cols]

merged2.to_excel("Data_Final.xlsx", index=False)

merged2

,Tahun,Provinsi,Upah Minimum (Rp),Pencari Kerja Terdaftar - Laki-Laki,Pencari Kerja Terdaftar - Perempuan,Pencari Kerja Terdaftar - Jumlah,Lowongan Kerja Terdaftar - Laki-Laki,Lowongan Kerja Terdaftar - Perempuan,Lowongan Kerja Terdaftar - Jumlah,Penempatan/Pemenuhan Tenaga Kerja - Laki-Laki,Penempatan/Pemenuhan Tenaga Kerja - Perempuan,Penempatan/Pemenuhan Tenaga Kerja - Jumlah,Penempatan
0,2022,Aceh,3166460,6515,5085.0,11600.0,812,741.0,1553.0,810.0,739.0,1549,389
1,2022,Bali,2516971,6919,4932.0,11851.0,515,551.0,1066.0,441.0,537.0,978,9429
2,2022,Banten,2501203,35076,23702.0,58778.0,997,476.0,1473.0,851.0,414.0,1265,1766
3,2022,Bengkulu,2238094,2152,2094.0,4246.0,289,375.0,664.0,289.0,373.0,662,273
4,2022,DI Yogyakarta,1840915,7212,6098.0,13310.0,937,888.0,1825.0,852.0,852.0,1704,1065
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,2024,Sulawesi Tenggara,2885964,5449,2781.0,8230.0,526,163.0,3482.0,1464.0,878.0,2342,252
107,2024,Sulawesi Utara,3545000,1339,1176.0,2515.0,290,296.0,2266.0,697.0,581.0,1278,714
108,2024,Sumatera Barat,2811449,6200,5321.0,11521.0,605,781.0,10674.0,2916.0,2264.0,5180,592
109,2024,Sumatera Selatan,3456874,10853,6877.0,17730.0,1602,894.0,12239.0,4492.0,2790.0,7282,2021
110,2024,Sumatera Utara,2809915,9471,8571.0,18042.0,1144,438.0,9312.0,3355.0,2513.0,5868,7176